[submodule "sgi"]
	path = sgi
	url = ../sgi.git
[submodule "osgearth"]
	path = osgearth
	url = ../../gwaldron/osgearth.git
[submodule "OpenSceneGraph"]
	path = OpenSceneGraph
	url = ../../openscenegraph/OpenSceneGraph.git
[submodule "OpenSceneGraph-Data"]
	path = OpenSceneGraph-Data
	url = https://github.com/openscenegraph/OpenSceneGraph-Data.git
[submodule "VulkanSceneGraph"]
	path = VulkanSceneGraph
	url = https://github.com/vsg-dev/VulkanSceneGraph.git
[submodule "vsgQt"]
	path = vsgQt
	url = https://github.com/vsg-dev/vsgQt.git
[submodule "vsgExamples"]
	path = vsgExamples
	url = https://github.com/vsg-dev/vsgExamples.git
