[submodule "sgi"]
	path = sgi
	url = ../sgi.git
[submodule "osgearth"]
	path = osgearth
	url = ../../gwaldron/osgearth.git
[submodule "OpenSceneGraph"]
	path = OpenSceneGraph
	url = ../../openscenegraph/OpenSceneGraph.git
[submodule "OpenSceneGraph-Data"]
	path = OpenSceneGraph-Data
	url = https://github.com/openscenegraph/OpenSceneGraph-Data.git
